:root
{
    --deep-aqua: #003B46;
    --ocean: #07575B;
    --wave: #66A5AD;
    --sea-foam: #C4DFE6;
    --light-night: #295161;
    --dark-night: #02070d;
}
.main-container
{
    width: 100%;
    height: 100vh;
    background-color: var(--dark-night);
    display: flex;
    justify-content: center;
}

.inner-container
{
    height: 100%;
}

.title-container
{
    
    width:100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container
{
    width:100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.description-container
{
    width:100%;
    height: 35%;
}

.title-container p
{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}

.image-container img
{
    height: 100%;
    width: 250px;
    border-radius: 50%;
}

.description-container p
{
    color: white;
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.6;
}