:root
{
    --dark-night: #02070d;
}
.footer-container
{
    background-color: var(--dark-night);
    display: flex;
    justify-content: center;
}
.icon-container
{
    padding-left: 20px;
    padding-right: 20px;
}